<div class="sidebar">
  <div class="container sidebar-sticky">
    <img src="/public/profile-pic.jpg" class="profile-pic"></img>
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    <div class="social-icons">
				<a href="https://twitter.com/samuelclaridge" target="none"class="icon fa-stack fa-lg">{{!-- <i class="fa fa-stack-2x fa-circle"></i> --}}<i class="fa fa-stack-1x fa-twitter"></i>
				</a>
				<a href="https://instagram.com/samuelclaridge" target="none"class="icon fa-stack fa-lg">{{!-- <i class="fa fa-stack-2x fa-circle-thin"></i> --}}<i class="fa fa-stack-1x fa-instagram"></i></a>
				<a href="https://github.com/samclaridge" target="none"class="icon fa-stack fa-lg">{{!-- <i class="fa fa-stack-2x fa-circle"></i> --}}<i class="fa fa-stack-1x fa-github"></i></a>
				<a href="mailto:st.claridge@gmail.com" class="icon fa-stack fa-lg">{{!-- <i class="fa fa-stack-2x fa-circle"></i> --}}<i class="fa fa-stack-1x fa-envelope"></i></a>
		</div>

  </div>
</div>
